<html ng-app="bootstrap-grid-builder">
<head>
  <title>Bootstrap Grid Builder</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/grid.css">
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="gridCtrl" ng-init="init()">
  <div class="container-fluid">
    <nav class="navbar" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Bootstrap Grid Builder</a>
      </div>
      <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-left" style="opacity:0">
        <li><a href="">Dummy</a></li>
        <li><a href="">Dummy</a></li>
        <li><a href="">Dummy</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li><a href="">Width</a></li>
        <li><a href="">{{getModelData().md}}</a></li>
        <li><button class="btn btn-default navbar-btn" ng-click="increaseWidth()">+</button><li>
        <li><button class="btn btn-default navbar-btn" ng-click="decreaseWidth()">-</button><li>
        <!-- Add ng-show here -->
      </ul>

      <ul class="nav navbar-nav navbar-left" ng-show="notxs">
        <li><a href="">Offset</a></li>
        <li><a href="">{{getModelData().md_offset}}</a></li>
        <li><button class="btn btn-default navbar-btn" ng-click="increaseOffset()">+</button><li>
        <li><button class="btn btn-default navbar-btn" ng-click="decreaseOffset()">-</button><li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-click="changeViewport(3)" ng-class="getActive(3)"><a href="#">Desktop</a></li>
        <li ng-click="changeViewport(1)" ng-class="getActive(1)"><a href="#">Tablet</a></li>
        <li ng-click="changeViewport(0)" ng-class="getActive(0)"><a href="#">Mobile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Others <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Extra Small</a></li>
          </ul>
        </li>
      </ul>
      </div>
    </nav>
  </div>
  <div class="container" id="main">
    <div class="row" ng-repeat="phone in model">
      <div ng-repeat="col in phone.row" ng-class="getHtmlClass(col)" ng-click="showEditor($parent.$index,$index,$event)">
        {{$index+1}}
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary" ng-click="addRow()">Add Row</button>
      <button class="btn btn-primary" ng-click="addCol()" ng-show="showBtn">Add Col</button>
    </div>
  </div>
  <!--<button class="btn btn-primary ">Add Container</button>-->
</body>
</html>